body {
    background-color: rgba(49, 51, 57, 1);
    color: #ffffff;
    font-family: "Inter";
}

header {
    margin-bottom: 10%;
}

nav {
    display: flex;
    justify-content: flex-start;
}

nav span {
    font-size: 18pt;
    margin: 8pt;
    white-space: nowrap;
}

nav ul {
    display: none;
    margin: 8pt;
}
.nav-item {
    margin-right: 30px;
    font-size: 16pt;
    list-style-type: none;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.hero-text {
    font-size: 10pt;
    text-align: center;
    margin-bottom: 5%;
}

.hero-vid img {
    height: 45vw;
    width: 80vw;
}

.projects {
    margin-bottom: 10%;
}

.projects h2, p {
    text-align: center;
}

.projects h2 {
    font-size: 16pt;
}

.ticker {
    display: flex;
    margin-bottom: 5%;
    font-size: 12pt;
    overflow: hidden;
  }
  .ticker__list {
    display: flex;
    margin-bottom: 5%;
    animation: ticker 15s infinite linear;
  }
  .ticker__item {
    margin-right: 20px;
    text-shadow: 4px 4px 8px cyan;
    white-space: nowrap;
  }
  @-moz-keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }
  @-o-keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes ticker {
    100% {
      transform: translateX(-100%);
    }
  }


.project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: #3D3D3D;
    margin-left: 10%;
    margin-right: 10%;
}

.item-img {
    height: 35vw;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.project-item h3, p{
    margin: 4pt;
}

.about h2 {
    text-align: center;
}

.about p {
    text-align: center;
    word-break: break-all;
}

.about {
    margin-left: 10%;
    margin-right: 10%;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.social-icons ul li {
    list-style-type: none;

}


.social-icons {
    display: flex;
    margin-top: 5%;
}

.social-icons ul li a img {
    max-height: 12vh;
    max-width: 12vw;
}

.social-icons ul {
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}


.about img {
    height: 45vw;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    margin-right: 10%;
}
.contact-header {
    margin-top: 10%;
}

.contact-form {
    width: 90%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: clamp(10pt, 3vw, 25pt);
    width: auto;
}

input::placeholder {
    font-size: clamp(10pt, 3vw, 25pt);
}

textarea {
    height: 20vw;
}

.submit-btn {
    margin: 8%;
    padding: 3%;
    border-radius: 20px;
}

footer p {
    text-align: left;
}

@media screen and (min-width: 768px) {
    p {
        font-size: 2.5vw;
    }
    
    .projects h2 {
        font-size: 4vw;
    }
    
    .ticker {
        display: flex;
        margin-bottom: 0%;
        font-size: 2.5vw;
    
    }
    .project-items {
        flex-direction: row;
    }

    .project-item {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 0;
    }
    
    
    .project-item h3, p{
        margin: 4pt;
    }
    

    .social-icons ul li a img {
        height: 8vw;
        width: 8vw;
    }
    
    .contact-header {
        margin-top: 10%;
        font-size: 4vw;
    }

    .about h2 {
        font-size: 4vw;
    }
    
    .submit-btn {
        font-size: 3vw;
    }
    
    footer {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        justify-content: space-between;
    }
    nav ul {
        display: flex;
    }
}